table {
    max-width: 560px;
    margin-top: 14px;

    th {
        button {
            position: inherit !important;
        }
    }

    th,
    td {
        &:first-of-type {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

/* animation: fadeIn 0.25s ease-out; */
/* @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-38px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
} */
