.btn-cancel {
    position: absolute;
    top: 5px;
    right: 5px;

    background: none;
    border: none;

    color: rgba(236, 41, 41, 0.85);

    width: 24px;
    height: 24px;

    transition: color 0.2s;

    animation: fadeIn 0.1s ease-out;

    &:hover {
        color: #ec2929;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
