.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    background: rgba(236, 41, 41, 0.85);
    padding: 10px 14px;
    border-radius: 4px;
    border: none;
    color: #fff;

    transition: background 0.2s;
    animation: fadeIn 0.25s ease-out;

    span {
        font-size: 14px;
    }

    &:hover {
        background: #ec2929;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-38px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
